In [1]:
# 1. Write a code to create a string with your name and print it.

name = "Shabab Ali"
print(name)

Shabab Ali

In [2]:
# 2. Write a code to find the length of the string "Hello World".
str = "Hello World."
len(str)

12

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
str = "Python Programming"
str[0:3]

'Pyt'

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.
str = "hello"
str.upper()

'HELLO'

In [7]:
#5 . Write a code to replace the word "apple" with "orange" in the string "I like apple".
str= "I like apple"
str.replace("apple","orange")

'I like orange'

In [10]:
#6 . Write a code to create a list with numbers 1 to 5 and print it.
[i for i in range(1, 6)]

[1, 2, 3, 4, 5]

In [12]:
#7 .Write a code to append the number 10 to the list [1, 2, 3, 4]
lis = [1,2,3,4]
lis.append(10)
l

[1, 2, 3, 4, 10]

In [14]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis = [1, 2, 3, 4, 5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [15]:
#9 .Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

In [16]:
#10 . Write a code to reverse the list [10, 20, 30, 40, 50].
lis = [10, 20, 30, 40, 50]
lis[::-1]

[50, 40, 30, 20, 10]

In [17]:
#11 . Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup = (10,20,30)
tup

(10, 20, 30)

In [18]:
#12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup = ('apple', 'banana', 'cherry')
tup[0]

'apple'

In [19]:
#13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup = (1, 2, 3, 2, 4, 2)
tup.count(2)

3

In [21]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [22]:
#15 . Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tup = ('apple', 'orange', 'banana')
"banana" in tup

True

In [23]:
#16 . Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1, 2, 3, 4, 5}
set

{1, 2, 3, 4, 5}

In [25]:
#17 . Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.add(6)
set

{1, 2, 3, 4, 6}

In [27]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup = (10,20,30)
tup

(10, 20, 30)

In [28]:
#19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup = ('apple', 'banana', 'cherry')
tup[0]

'apple'

In [29]:
#20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup = (1, 2, 3, 2, 4, 2)
tup.count(2)

3

In [30]:
#21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [31]:
#22 . Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tup = ('apple', 'orange', 'banana')
"banana" in tup

True

In [32]:
#23 . Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1, 2, 3, 4, 5}
set

{1, 2, 3, 4, 5}

In [33]:
#24 . Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.add(6)
set

{1, 2, 3, 4, 6}

Theory

1. What are data structures, and why are they important?
   Datastructure are way to organize how the data will be stored, so it becomes easy to manageretrieved, delete efficiently. They help in writinge efficient algorithm implementation, helps in enhancinge perform, and provide a  better way to organize data.

2. Explain the difference between mutable and immutable data types with examples.
Mutable data types can be update after their creation.
Example list[].
Immutable data types that can't be updated after their creation.
Example tuple().

3. What are the main differences between lists and tuples in Python.
List are mutable allowing dynamic updation example append, remove.
ex-[1,2,3]
Tuple are immutable which is not allow dynamic updation.
ex - (1,2,3)

4.Describe how dictionaries store data.
It store data in the form of key-pair where key act as the index of the dictionary.
Keys help in fast retrival of data.

5. Why might you use a set instead of a list in Python.
Set have special feature of handling duplicates values like sets have all the unique values present which is good
where programmer need to get all the unique values and also it is unordered collection of data.
while list allows duplicates and it is ordered collection of data.

6. What is a string in Python, and how is it different from a list.
Sring is an immutable collection of character data structure, while list is collection of all data type including string
and list is mutable. 
String is represnt by single '' and double "" quotes while list is represent by squre bracket []

7. How do tuples ensure data integrity in Python.
Tuples are immutable so it ensure that data can't be change afte it's creation. This ensure that data remains
consistent and prevents accidental modifications.

8.What is a hash table, and how does it relate to dictionaries in Python.
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented
using hash tables, enabling average O(1) time complexity for insertions, deletions, and lookups.

9. Can lists contain different data types in Python.
Yes list can contain different type of data.

10. Explain why strings are immutable in Python.
Strings are immutable for reasons like security, thread safety, and optimization and avoid unintended modifications during text operations.

11. What advantages do dictionaries offer over lists for certain tasks.
Dictionaries provide O(1) average time complexity for searching and are ideal for tasks requiring fast key-based data
retrieval. Lists have O(n) search time and are better suited for sequential data storage.

12. Describe a scenario where using a tuple would be preferable over a list.
Tuples are preferable when storing fixed, unchanging data, such as geographic coordinates or RGB color codes .

13. How do sets handle duplicate values in Python.
Sets automatically remove duplicates values, which results in unique values in sets.

14. How does the “in” keyword work differently for lists and dictionaries.
In list "in" checks the presence of list item while in dictionary "in" keyword checks the prescence of keys.

15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable. Their elements cannot be changed after creation. This property ensures stability
and data integrity.

16.What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary within another dictionary.
Example: data = {
    "employee": {
        "name": "Shabab",
        "age": 22,
        "department": "IT"
    }
}
Use case: Representing hierarchical data, like organizational structures or JSON data.

17. Describe the time complexity of accessing elements in a dictionary.
Time complexity for accessing elements in dictionary is O(1).

18.  In what situations are lists preferred over dictionaries.
Lists are preferred when order is important, for sequential  data, or when the data doesn’t need key-based
access. Example: processing a queue or iterating over a collection.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
Historically, dictionaries didn’t guarantee order. While modern Python (3.7+) maintains insertion order, dictionaries
focus on efficient key-based lookups rather than positional indexing, affecting sequential operations.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists: Retrieve elements by index (O(1)). Example: my_list[0].
Dictionaries: Retrieve values by key (O(1) average). Example: my_dict["key"].